<!-- https://getbootstrap.com/components/#btn-dropdowns -->
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle disabled" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Keine Klasse ausgewählt.">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
        <li class="disabled"><a id="subscribe" href="#">Kalender abonnieren <sup>SOON</sup></a></li>
        <li><a id="download" href="#">Kalender herunterladen</a></li>
        <li><a id="webcal" href="#">Kalender mit Outlook öffnen</a></li>
    </ul>
</div>
