<!-- https://getbootstrap.com/components/#btn-dropdowns -->
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle disabled fc-button fc-state-default fc-corner-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Keine Klasse ausgewählt.">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
        <li class="dropdown-header">Herunterladen</li>
        <li><a id="download" title="Als .ics herunterladen.">Kalender herunterladen</a></li>
        <li class="dropdown-header">Abonnieren</li>
        <li><a id="webcal" title="Kalender in Outlook öffnen & abonnieren.">Outlook</a></li>
    </ul>
</div>
