<div class="">
    <form>
        <label for="class-select" class="sr-only">Klasse</label>
        <select id="class-select" class="form-control">
            <option disabled selected>Lade Klassen...</option>
        </select>
    </form>
</div>
